BasedOnStyle: Google
PenaltyExcessCharacter: 1
BinPackArguments: false
BinPackParameters: false
AllowShortIfStatementsOnASingleLine: false
MaxEmptyLinesToKeep: 3
KeepEmptyLinesAtTheStartOfBlocks: true
SortIncludes: false

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true

ContinuationIndentWidth: 2
IndentWidth: 2
TabWidth: 2
UseTab: Never
NamespaceIndentation: None
MaxEmptyLinesToKeep: 1
PackConstructorInitializersStyle: Never
PointerAlignmentStyle: Left
ReferenceAlignmentStyle: Left
QualifierOrder: [friend, static, constexpr, virtual, inline, const, restrict, volatile, type]
RequiresClausePositionStyle: OwnLine
SeparateDefinitionStyle: Always

